.address-text {
  text-align: center;
}

.status-group {
  margin-top: 1rem;
}

.status-checkbox {
  text-align: center;
}

.id-text {
  font-style: italic;
  margin-left: 0.5rem;
}

.checkbox {
  cursor: default;
}
