<app-header [title]="headerTitle" [icon]="headerIcon"></app-header>
<div class="columns is-centered">
  <div class="column is-four-fifths mt-3">
    <div class="panel is-link">
      <div class="panel-heading">Events Table</div>
      <div class="level mt-4">
        <div class="level-item has-text-centered">
          <div>
            <button class="button is-link is-outlined" routerLink="/add-event">
              <span class="icon is-small mr-1">
                <i class="far fa-calendar-plus"></i>
              </span>
              Add Events
            </button>
          </div>
        </div>
      </div>
      <div class="pb-3 mt-6">
        <app-event-table></app-event-table>
      </div>
    </div>
  </div>
</div>
